---
---

$red: #bb0000;
$darkred: #660000;
$lightrows: #ffeecc;
$darkrows: #ddccaa;

$spacing: 8px;

body {
    justify-content: center;
    background-color: #442200;
    display:flex;
    font-family: serif;
    line-height: 140%;
}

main, aside {
    background-color: #f8f0e0;
    padding: 20px;
    border-radius:5px;
    max-width:1024px;
}

main {
    flex-grow:1;
    column-count: 2;
}

aside h2 {
    font-size: 120%;
    margin-bottom:10px;
}

aside a {
    text-decoration: none;
}

aside ul {
    padding-left: 20px;
}

h2 {
    border-bottom: 1px solid $darkred;
}

h1, h2, h3 {
    color: $darkred;
}

aside {
    margin-right: 10px;
}

a {
    color: $red;
}

a:visited {
    color: $darkred;
}

code {
    color: $red;
}

p, ul, table {
    margin-top: $spacing;
    margin-bottom: $spacing;
}

.multicolumn {
    column-span: all;
}

table {
    border: 1px solid #000000;
    border-collapse:collapse;
    width:100%;
}
th {
    background-color: $darkred;
    color: #ffffff;
}
td {
    padding: 4px;
    border: 1px solid #000000;
}
td.number {
    text-align:center;
}
td.small {
    width: 100px;
}
tr:nth-child(odd) {
    background:$darkrows;
}
tr:nth-child(even) {
    background:$lightrows;
}

$optional_back: #ccccff;
$optional_front: #333399;
.optional {
    background-color: $optional_back;
    border: 2px solid $optional_front;
    border-radius: 3px;
    padding: 5px;
    break-inside: avoid;
}
.optional::before {
    content: "Optional Variant: ";
    color: $optional_front;
}

.ancestry, .background, .classbox {
    border: 1px solid #000000;
    padding: 6px;
    border-radius: 5px;
    break-inside: avoid;
}

.action {
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: $spacing;
    margin-bottom: $spacing;
    break-inside: avoid;
}
.action-title {
    padding:6px;
    font-size: 120%;
    color: #ffffff;
}
.action-data {
    padding: 6px;
}
.action-desc {
    padding: 6px;
}
.ability .action-title {
    background-color: #0d6418;
}
.technique .action-title {
    background-color: #ac5f07;
}
.common .action-title {
    background-color: #303436;
}
.boost .action-title {
    background-color: #8b0850;
}
.spell .action-title {
    background-color: #0c136e;
}

.timing {
    vertical-align: middle;
}
