{% assign action=include.action %}

<div class='action {{ action.type }}'>

<div class='action-title'>
  {% include window.liquid window=action.window %} {{ action.name }}
</div>

<div class='action-data'>
  {% if action.tags == "" %}
    <strong>{{ action.type | capitalize }}</strong>
  {% else %}
    <strong>{{ action.type | capitalize }}</strong> (<em>{{ action.tags }}</em>)
  {% endif %}<br/>
  {% if action.level != 0 and action.level %}
    <strong>Minimum Level:</strong> {{ action.level }}<br/>
  {% endif %}
  {% if action.rank %}
    <strong>Minimum Rank:</strong> {{ action.rank }}<br/>
  {% endif %}
  {% if action.disciplines != "" %}
    <strong>Disciplines:</strong> {{ action.disciplines }}<br/>
  {% endif %}
  {% if action.cooldown %}
    <strong>Cooldown:</strong> {{ action.cooldown }}<br/>
  {% endif %}
  {% if action.duration %}
    <strong>Duration:</strong> {{ action.duration }}<br/>
  {% endif %}
  {% if action.trigger %}
    <strong>Trigger:</strong> {{ action.trigger }}<br/>
  {% endif %}
  {% if action.untrained %}
    <strong>Untrained Penalty:</strong> {{ action.untrained }}<br/>
  {% endif %}
  {% if action.critical %}
    <strong>Critical Effects:</strong> {{ action.critical }}<br/>
  {% endif %}
</div>

<div class='action-desc'>
  {{ action.desc | markdownify }}
</div>

</div>
