{% assign collected="" | split: "" %}
{% for entry in site.data.actions %}
{% assign action=entry[1] %}

{% if action.type == include.type and (action.disciplines != "" or action.type != "technique") %}
  {% assign collected=collected | push: action %}
{% endif %}
{% if action.disciplines contains include.discipline %}
  {% assign collected=collected | push: action %}
{% endif %}

{% endfor %}

{% assign sorted=collected | sort: "name" | sort: "level" %}

{% for action in sorted %}
{% include action.liquid action=action %}
{% endfor %}
