{% assign ancestry=include.ancestry %}

<div class="ancestry">
{% include stattabledelta.liquid stats=ancestry.stats %}

<p>
<strong>Size:</strong> {{ ancestry.size }}<br/>
<strong>Speed:</strong> {{ ancestry.speed }}<br/>
<strong>Initial HP:</strong> {{ ancestry.hp }} + CON<br/>
</p>
</div>
