{% assign background=include.background %}

<div class="background">
{% include stattabledelta.liquid stats=background.stats %}

<p>
<strong>Additional Skills:</strong> {{ background.skills }}<br/>
</p>
</div>
