{% assign class=include.class %}

<div class="classbox">
{% include stattabledelta.liquid stats=class.stats %}

<p>
<strong>Armour Proficiency:</strong> {{ class.armour_prof }}<br/>
<strong>Weapon Proficiency:</strong> {{ class.weapon_prof }}<br/>
<strong>Technique/Spell Disciplines:</strong> {{ class.disciplines }}<br/>
<strong>Initial HP:</strong> {{ class.hp_boost }} + 1d4<br/>
<strong>HP Per Level:</strong> {{ class.hp_boost }} + 1d4 + CON<br/>
</p>
</div>
