{% assign class=include.class %}

<table class='multicolumn'>
<tr>
  <th>Level</th>
  <th>Techs</th>
  <th>Tricks</th>
  <th>Spells</th>
  <th>Attacks</th>
  <th>Feats</th>
</tr>

{% for level in (0..19) %}
<tr>
  <td class='number small'>{{ level | plus: 1 }}</td>

  {% if class.base_techs != "NONE" %}
    <td class='number small'>{{ class.base_techs }} + {{ class.techs[level] }}</td>
  {% else %}
    <td class='number small'>{{ class.techs[level] }}</td>
  {% endif %}

  {% if class.base_tricks != "NONE" %}
    <td class='number small'>{{ class.base_tricks }} + {{ class.tricks[level] }}</td>
  {% else %}
    <td class='number small'>{{ class.tricks[level] }}</td>
  {% endif %}

  {% if class.base_spells != "NONE" %}
    <td class='number small'>{{ class.base_spells }} + {{ class.spells[level] }}</td>
  {% else %}
    <td class='number small'>{{ class.spells[level] }}</td>
  {% endif %}

  <td class='number small'>{{ class.attacks[level] }}</td>
  <td>{{ class.leveling[level] }}</td>
</tr>
{% endfor %}
</table>
