<aside>
<p>
<a href="{{ site.baseurl }}/">Home</a>
</p>

<h2>Game Rules</h2>
{% include sidebarlist.liquid type="rules" %}

<h2>Character Creation</h2>
{% include sidebarlist.liquid type="character" %}

<h2>References</h2>
{% include sidebarlist.liquid type="references" %}

<h2>Classes</h2>
{% include sidebarlist.liquid type="classes" %}

<h2>Ancestries</h2>
{% include sidebarlist.liquid type="ancestries" %}

<h2>Feats</h2>
{% include sidebarlist.liquid type="actions" %}

<h2>Characters</h2>
{% include sidebarlist.liquid type="sheet" %}

</aside>
