{% assign sorted = site.pages | sort: "sidebarname" | sort: "sidebarsort" %}
<ul>
{% for page in sorted %}
{% if page.sidebartype == include.type %}
{% if page.has_children %}
  <li>
    <a href="{{site.baseurl}}{{page.url}}">{{page.sidebarname}}</a>
    <ul>
{% for innerp in sorted %}
{% if innerp.parent == page.has_children %}
      <li><a href="{{site.baseurl}}{{innerp.url}}">{{innerp.sidebarname}}</a></li>
{% endif %}
{% endfor %}
    </ul>
  </li>
{% else %}
  <li><a href="{{site.baseurl}}{{page.url}}">{{page.sidebarname}}</a></li>
{% endif %}
{% endif %}
{% endfor %}
</ul>
