<table>
<tr>
  <th>STR</th>
  <th>DEX</th>
  <th>CON</th>
  <th>INT</th>
  <th>WIS</th>
  <th>CHA</th>
</tr>

<tr>
{% for stat in include.stats %}
  <td class='number'>{{ stat }}</td>
{% endfor %}
</tr>
</table>
