<table>
<tr>
  <th>STR</th>
  <th>DEX</th>
  <th>CON</th>
  <th>INT</th>
  <th>WIS</th>
  <th>CHA</th>
</tr>

<tr>
{% for stat in include.stats %}
  {% if stat == 0 %}
  <td class='number'>-</td>
  {% elsif stat > 0 %}
  <td class='number'>+{{ stat }}</td>
  {% else %}
  <td class='number'>{{ stat }}</td>
  {% endif %}
{% endfor %}
</tr>
</table>
